table {
    border-collapse: collapse;
}

table > colgroup > col {
    width: 5em;
}

table > * > * > * {
    padding: 0.25em;
}

table > * > * > td {
    font-family: monospace;
    text-align: right;
}
