<table border="1">
  <caption>
    Wheels speed (km/h)
  </caption>

  <colgroup>
    <col>
    <col>
    <col>
  </colgroup>

  <thead>
    <tr>
      <th></th>
      <th>
        L
      </th>
      <th>
        R
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>
        F
      </th>
      <td>
        {{ FLspeedKph | number: '1.1-1' }}
      </td>
      <td>
        {{ FRspeedKph | number: '1.1-1' }}
      </td>
    </tr>

    <tr>
      <th>
        R
      </th>
      <td>
        {{ RLspeedKph | number: '1.1-1' }}
      </td>
      <td>
        {{ RRspeedKph | number: '1.1-1' }}
      </td>
    </tr>
  </tbody>
</table>

<table border="1">
  <caption>
    Wheels synchronization (%)
  </caption>

  <colgroup>
    <col>
    <col>
    <col>
  </colgroup>

  <thead>
    <tr>
      <th></th>
      <th>
        L
      </th>
      <th>
        R
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>
        F
      </th>
      <td>
        {{ FLsynchronization | number: '1.1-1' }}
      </td>
      <td>
        {{ FRsynchronization | number: '1.1-1' }}
      </td>
    </tr>

    <tr>
      <th>
        R
      </th>
      <td>
        {{ RLsynchronization | number: '1.1-1' }}
      </td>
      <td>
        {{ RRsynchronization | number: '1.1-1' }}
      </td>
    </tr>
  </tbody>
</table>
