<app-gauge
    [type]="GaugeType.ANALOG"
    [value]="rtCar.speedKph"
    [min]="0"
    [max]="maxSpeedKph"
    [low]="maxSpeedKph / 3"
    [high]="(maxSpeedKph * 2) / 3"
    [optimum]="maxSpeedKph"
    [unit]="'km/h'"
></app-gauge>

<app-gauge
    [type]="GaugeType.ANALOG"
    [value]="acceleration"
    [min]="-30"
    [max]="15"
    [low]="-20"
    [high]="10"
    [optimum]="0"
    [unit]="'m.s^-2'"
></app-gauge>

<div>
    <p>
        Speed:
        <span class="speed">{{ rtCar.speedKph | number : '3.1-1' }}</span> km/h
    </p>
    <p>
        Max speed:
        <span class="speed">{{ maxSpeedKph | number : '3.1-1' }}</span> km/h
    </p>
    <p>
        Acceleration:
        <span
            ><span class="speed">{{ acceleration | number : '2.1-1' }}</span>
            m.s<sup>-2</sup></span
        >
    </p>
</div>
