<app-gauge
    [type]="GaugeType.ANALOG"
    [value]="rtCar.engineRPM"
    [min]="0"
    [max]="maxEngineRPM"
    [low]="maxEngineRPM / 2"
    [high]="(maxEngineRPM * 2) / 3"
    [optimum]="maxEngineRPM"
    [isCriticalLow]="rtCar.engineRPM < 10"
    [isCriticalHigh]="rtCar.isEngineLimiterOn"
    [unit]="'rpms'"
></app-gauge>
<div>
    <p>
        Engine revs:
        <span class="revs">{{ rtCar.engineRPM | number : '1.1-1' }}</span> rpms
    </p>
    <p>
        Max engine revs:
        <span class="revs">{{ maxEngineRPM | number : '1.1-1' }}</span> rpms
    </p>
</div>
