p {
    width: 7.5em;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.hidden {
    visibility: hidden;
}

.wheel {
    font-family: monospace;
    display: inline-block;
    margin-top: 1em;
}

.rotation-value {
    font-family: monospace;
    display: inline-block;
    width: 6em;
    padding: 0 .25em;
    text-align: right;
}
