<p>
    Steering wheel:
    <span class="wheel" [style.transform]="'rotate(' + steer + 'deg)'"
        >|-v-|</span
    >
    <span class="rotation-value">
        <span class="left" [ngClass]="{ hidden: steer >= 0 }">L</span>
        {{ Math.abs(steer) | number : '1.1-1' }}°
        <span class="right" [ngClass]="{ hidden: steer <= 0 }">R</span>
    </span>
    <span class="clear"></span>
</p>
