table {
    vertical-align: top;
    display: inline-table;
    border-collapse: collapse;
}

table > colgroup > col {
    width: 4em;
}

table > * > * > * {
    padding: 0.25em;
}

table > * > * > td {
    font-family: monospace;
    text-align: right;
}

#graph {
    display: inline-block;
    margin-left: 1em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background: repeating-radial-gradient(
        circle,
        hsl(0, 0%, 90%),
        hsl(0, 0%, 90%) 1em,
        hsl(0, 0%, 100%) 1em,
        hsl(0, 0%, 100%) 2em
    );
}

#graph > span {
    display: inline-block;
    border-radius: 50%;
    height: .3em;
    width: .3em;
    background-color: hsl(0, 50%, 50%);
    position: absolute;
}
