<table border="1">
    <caption>
        G-forces
    </caption>

    <colgroup>
        <col />
        <col />
        <col />
    </colgroup>

    <thead>
        <tr>
            <th>Axis</th>
            <th>G</th>
            <th>Max-G</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>X</th>
            <td>
                {{ (rtCar$ | async)?.verticalG | number : '1.2-2' }}
            </td>
            <td>
                {{ maxXG | number : '1.2-2' }}
            </td>
        </tr>

        <tr>
            <th>Y</th>
            <td>
                {{ (rtCar$ | async)?.horizontalG | number : '1.2-2' }}
            </td>
            <td>
                {{ maxYG | number : '1.2-2' }}
            </td>
        </tr>

        <tr>
            <th>Z</th>
            <td>
                {{ (rtCar$ | async)?.frontalG | number : '1.2-2' }}
            </td>
            <td>
                {{ maxZG | number : '1.2-2' }}
            </td>
        </tr>

        <tr>
            <th>Total</th>
            <td>
                {{ totalG | number : '1.2-2' }}
            </td>
            <td>
                {{ maxTotalG | number : '1.2-2' }}
            </td>
        </tr>
    </tbody>
</table>

<div id="graph">
    <span
        [ngStyle]="{
            'top.em': Math.max(
                Math.min(5 + (rtCar$ | async)!.frontalG - 0.15, 10),
                0
            ),
            'left.em': Math.max(
                Math.min(5 + (rtCar$ | async)!.verticalG - 0.15, 10),
                0
            )
        }"
    ></span>
</div>
