<mat-table
  [dataSource]="sortedLapTimes.slice(
    matPaginator.pageIndex * matPaginator.pageSize,
    (matPaginator.pageIndex + 1) * matPaginator.pageSize
  )"
  matSort
  (matSortChange)="updateSort($event)"
>
  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      #
    </mat-header-cell>
    <mat-cell *matCellDef="let lapTime">
      {{ lapTime.index + 1 }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lap">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Lap
    </mat-header-cell>
    <mat-cell *matCellDef="let lapTime">
      {{ lapTime.lap }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Time
    </mat-header-cell>
    <mat-cell *matCellDef="let lapTime" [ngClass]="{'best-lap': lapTime === bestLap}">
      <app-duration [milliseconds]="lapTime.duration"></app-duration>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dPrevious">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Δ previous
    </mat-header-cell>
    <mat-cell *matCellDef="let lapTime">
      <app-time-delta *ngIf="lapTime.getDeltaPrevious() as deltaPrevious" [milliseconds]="deltaPrevious"></app-time-delta>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dBest">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Δ best
    </mat-header-cell>
    <mat-cell *matCellDef="let lapTime">
      <app-time-delta *ngIf="lapTime !== bestLap" [milliseconds]="lapTime.getDeltaBest()"></app-time-delta>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dLast">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Δ last
    </mat-header-cell>
    <mat-cell *matCellDef="let lapTime">
      <app-time-delta *ngIf="lapTime !== lastLap" [milliseconds]="lapTime.getDeltaLast()"></app-time-delta>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator
  [pageSizeOptions]="[10, 25, 50]"
  showFirstLastButtons
  [length]="sortedLapTimes.length"
></mat-paginator>
