#reset {
    background-color: hsl(200, 100%, 50%);
    color: hsl(0, 0%, 95%);
    border: none;
    border-radius: .2em;
    padding: .5em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#reset:hover {
    box-shadow: .25em .25em .2em hsla(0, 0%, 80%, .8);
    background-color: hsl(200, 100%, 60%);
    color: hsl(0, 0%, 90%);
}

#apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#apps > * {
    flex: auto;
}
