@if (rtCar$ | async ) {
<div id="dashboard">
    <button id="reset" (click)="resetStatistics$.next()">
        Reset statistics
    </button>
    <app-selector [selectables]="componentList"></app-selector>
    <div id="apps">
        @if (componentList['Speedometer']) {
        <app-speedometer
            [rtCar$]="rtCar$"
            [resetStatistics$]="resetStatistics$"
        />
        } @if (componentList['Tachometer']) {
        <app-tachometer
            [rtCar$]="rtCar$"
            [resetStatistics$]="resetStatistics$"
        />
        } @if (componentList['Gears']) {
        <app-gears [rtCar$]="rtCar$" />
        } @if (componentList['Electronics']) {
        <app-electronics [rtCar$]="rtCar$" />
        } @if (componentList['Pedals']) {
        <app-pedals [rtCar$]="rtCar$" />
        } @if (componentList['Steering wheel']) {
        <app-steering-wheel [rtCar$]="rtCar$" />
        } @if (componentList['Laps']) {
        <app-laps [rtCar$]="rtCar$" />
        } @if (componentList['Wheels speed']) {
        <app-wheels-speed [rtCar$]="rtCar$" />
        } @if (componentList['G-meter']) {
        <app-g-meter [rtCar$]="rtCar$" [resetStatistics$]="resetStatistics$" />
        } @if (componentList['Timetable']) {
        <app-timetable
            [rtCar$]="rtCar$"
            [resetStatistics$]="resetStatistics$"
        />
        } @if (componentList['Lap map']) {
        <app-lap-map [rtCar$]="rtCar$" />
        }
    </div>
</div>
} @else {
<div>No connection. Is a game session running?</div>
}
