<div #scene></div>
@if (controls && camera) {
<div id="control-panel">
    <form>
        <fieldset>
            <legend>Controls</legend>

            <fieldset>
                <legend>Origin</legend>

                <label for="x-origin">X</label>
                <input
                    id="x-origin"
                    type="number"
                    name="x-origin"
                    [(ngModel)]="controls.target.x"
                    (input)="controls.update()"
                />

                <label for="y-origin">Y</label>
                <input
                    id="y-origin"
                    type="number"
                    name="y-origin"
                    [(ngModel)]="controls.target.y"
                    (input)="controls.update()"
                />

                <label for="z-origin">Z</label>
                <input
                    id="z-origin"
                    type="number"
                    name="z-origin"
                    [(ngModel)]="controls.target.z"
                    (input)="controls.update()"
                />
            </fieldset>

            <fieldset>
                <legend>Position</legend>
                <label for="x-target">X</label>
                <input
                    id="x-position"
                    type="number"
                    name="x-position"
                    [(ngModel)]="camera.position.x"
                />

                <label for="y-position">Y</label>
                <input
                    id="y-position"
                    type="number"
                    name="y-position"
                    [(ngModel)]="camera.position.y"
                />

                <label for="z-position">Z</label>
                <input
                    id="z-position"
                    type="number"
                    name="z-position"
                    [(ngModel)]="camera.position.z"
                />
            </fieldset>
        </fieldset>

        <fieldset>
            <legend>Map</legend>

            <label for="displayed-lap">Displayed lap</label>
            <select
                name="displayedLaps"
                id="displayed-lap"
                [(ngModel)]="displayedLaps"
                (change)="drawLaps()"
                multiple
            >
                <option
                    *ngFor="let lap of lapPoint.getStoredLaps()"
                    [value]="lap"
                >
                    {{ lap }}
                </option>
                <option [value]="currentLap" selected>Current lap</option>
            </select>

            <button type="button" (click)="clearRender()">Clear</button>
        </fieldset>
    </form>
</div>
}
