<table border="1">
    <caption>
        Lap statistics
    </caption>

    <tbody>
        <tr>
            <th>Laps</th>
            <td>
                {{ rtCar.lapCount }}
            </td>
        </tr>

        <tr>
            <th>Current lap</th>
            <td>
                <app-duration [milliseconds]="rtCar.lapTime"></app-duration>
            </td>
        </tr>

        <tr>
            <th>Last lap</th>
            <td>
                <app-duration [milliseconds]="rtCar.lastLap"></app-duration>
            </td>
        </tr>

        <tr>
            <th>Best lap</th>
            <td>
                <app-duration [milliseconds]="rtCar.bestLap"></app-duration>
            </td>
        </tr>
    </tbody>
</table>
