<table border="1">
    <caption>
        Pedals
    </caption>

    <thead>
        <tr>
            <th>Clutch</th>
            <th>Brake</th>
            <th>Gas</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ rtCar.clutch * 100 | number : '1.1-1' }} %</td>
            <td>{{ rtCar.brake * 100 | number : '1.1-1' }} %</td>
            <td>{{ rtCar.gas * 100 | number : '1.1-1' }} %</td>
        </tr>

        <tr>
            <td>
                <meter
                    id="clutch"
                    min="0"
                    max="1"
                    [value]="rtCar.clutch"
                ></meter>
            </td>
            <td>
                <meter id="brake" min="0" max="1" [value]="rtCar.brake"></meter>
            </td>
            <td>
                <meter id="gas" min="0" max="1" [value]="rtCar.gas"></meter>
            </td>
        </tr>
    </tbody>
</table>
