table {
    border-collapse: collapse;
}

table > * > * > * {
    padding: 0.25em;
}

table > tbody > tr:nth-child(1) > td {
    font-family: monospace;
    text-align: right;
}

table > tbody > tr:nth-child(2) > td {
    height: 5em;
}

meter {
    width: 5em;
    transform: rotate(-90deg);
}

#clutch {
    color: hsl(200, 50%, 50%);
}

#brake {
    color: hsl(0, 50%, 50%);
}

#gas {
    color: hsl(140, 50%, 50%);
}
