span {
    font-family: monospace;
    display: inline-block;
    height: 2em;
    width: 2em;
    padding: .25em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
}

span.active {
    color: hsl(0, 100%, 100%);
    background-color: hsl(0, 50%, 40%);
}
