<meter
  [value]="value"
  [min]="min"
  [max]="max"
  [low]="low"
  [high]="high"
  [optimum]="optimum"
  [hidden]="true"
>{{ unit }}</meter>

<ng-container *ngIf="type === GaugeType.ANALOG">
  <div
    id="dial"
    [ngClass]="{
      low: isLow(),
      high: isHigh(),
      optimum: isOptimum(),
      normal: isNormal(),
      criticalLow: isCriticalLow,
      criticalHigh: isCriticalHigh
    }"
  >
    <div id="needle" [style.transform]="'rotate(' + rotateTurn(value) + 'turn)'"></div>
    <p id="unit">{{ unit }}</p>
    <ol id="scales">
      <li id="min" [style.transform]="'rotate(' + rotateTurn(min) + 'turn)'">{{ min | number: '1.1-1' }}</li>
      <li id="low" [style.transform]="'rotate(' + rotateTurn(low) + 'turn)'">{{ low | number: '1.1-1' }}</li>
      <li id="high" [style.transform]="'rotate(' + rotateTurn(high) + 'turn)'">{{ high | number: '1.1-1' }}</li>
      <li id="max" [style.transform]="'rotate(' + rotateTurn(max) + 'turn)'">{{ max | number: '1.1-1' }}</li>
      <li id="optimum" [style.transform]="'rotate(' + rotateTurn(optimum) + 'turn)'">{{ optimum | number: '1.1-1' }}</li>
    </ol>
  </div>
</ng-container>
