#dial {
    $size: 150px;
    position: relative;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50%;
    height: $size;
    width: $size;
    transition:
        background-color .2s ease-in-out,
        color .2s ease-in-out
    ;

    &.low {
        background-color: hsl(0, 35%, 50%);
    }

    &.high {
        background-color: hsl(0, 35%, 50%);
    }

    &.optimum {
        background-color: hsl(120, 35%, 50%);
    }

    &.criticalLow {
        transition: none;
        background-color: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 80%);
    }

    &.criticalHigh {
        transition: none;
        background-color: hsl(0, 80%, 50%);
        color: hsl(0, 0%, 80%);
    }

    & > #needle {
        $width: 1px;
        position: absolute;
        background: black;
        top: calc($size / 2);
        left: calc($size / 2);
        width: $width;
        height: calc($size / 2);
        transform-origin: 0 calc($width / 2);
    }

    & > #unit {
        position: absolute;
        top: calc($size / 3 * 2);
        width: $size;
        text-align: center;
    }

    & > #scales {
        position: relative;
        display: block;
        list-style: none;
        padding-inline-start: 0;
        height: $size;
        width: $size;
        border-radius: 50%;
        transform: rotate(-0.25turn);

        & > * {
            position: absolute;
            top: 50%;
            right: 50%;
            display: block;
            width: 50%;
            transform-origin: 100% 0;
            border-top: dashed 1px black;
        }
    }
}
